In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
ds=pd.read_csv("D:\\Internship\\Machine learning\\product_data-task2.xlsx.csv")
print(ds)

     CustomerID     Product                Price Quantity       City  \
0          1052     Desktop                  NaN        4  Bangalore
1          1041     Desktop                  NaN        3      Delhi
2          1057  Smartphone  forty-five thousand        2  Bangalore
3          1038      Tablet                45000        1    Chennai
4          1013  Smartphone                45000      NaN     Mumbai
..          ...         ...                  ...      ...        ...
120        1074      Laptop                45000      NaN  Bangalore
121        1017     Desktop                45000      NaN       Pune
122        1075     Desktop                30000        1       Pune
123        1008      Laptop                60000        1    Chennai
124        1073      Laptop                15000      NaN      Delhi

    PurchaseDate
0       30-06-21
1       21-01-23
2       06-04-23
3       05-07-23
4       11-04-22
..           ...
120     14-08-21
121     09-08-22
122     28-09-21
123     13-09-21
124     01-01-21

[125 rows x 6 columns]

In [5]:
ds['Product'].describe()

count        125
unique         4
top       Laptop
freq          45
Name: Product, dtype: object

In [6]:
ds["Price"]=pd.to_numeric(ds["Price"],errors='coerce')

In [19]:
x=ds["Price"].mean()
print(int(x))
ds["Price"].fillna(x)
print(ds["Price"])

36176
0      36176.470588
1      36176.470588
2      36176.470588
3      45000.000000
4      45000.000000
           ...
120    45000.000000
121    45000.000000
122    30000.000000
123    60000.000000
124    15000.000000
Name: Price, Length: 125, dtype: float64

In [13]:
y=ds["Quantity"].mode()[0]
ds["Quantity"].fillna(y,inplace= True)
print(ds["Quantity"])

0      4
1      3
2      2
3      1
4      1
      ..
120    1
121    1
122    1
123    1
124    1
Name: Quantity, Length: 125, dtype: object

In [14]:
ds['City'].describe()

count           125
unique            5
top       Bangalore
freq             27
Name: City, dtype: object

In [20]:
print(ds)

     CustomerID     Product         Price Quantity       City PurchaseDate
0          1052     Desktop  36176.470588        4  Bangalore     30-06-21
1          1041     Desktop  36176.470588        3      Delhi     21-01-23
2          1057  Smartphone  36176.470588        2  Bangalore     06-04-23
3          1038      Tablet  45000.000000        1    Chennai     05-07-23
4          1013  Smartphone  45000.000000        1     Mumbai     11-04-22
..          ...         ...           ...      ...        ...          ...
120        1074      Laptop  45000.000000        1  Bangalore     14-08-21
121        1017     Desktop  45000.000000        1       Pune     09-08-22
122        1075     Desktop  30000.000000        1       Pune     28-09-21
123        1008      Laptop  60000.000000        1    Chennai     13-09-21
124        1073      Laptop  15000.000000        1      Delhi     01-01-21

[125 rows x 6 columns]